@import './tailwind.css';
@import './globals.css';
@import './pixel-perfect.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;900&family=Lexend:wght@400;500;600;700;900&family=Roboto:wght@400;500;600;700;900&family=DM+Serif+Display:wght@400&display=swap');

body {
    font-family: 'Lexend', 'DM Sans', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}